<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    admin dashbo
        name: <%= user.name%> <br />
    emial: <%= user.email%> <br />
    occup: <%= user.occupation%> <br />
    speci: <%= user.specification%> <br />
    desc: <%= user.description%> <br />
    <img src="<%=user.photo%>" alt="" />
    <a href="/logout">Logout</a>
    <% users.forEach((u) => {%>
        <%u.name%>
        <%u.email%>
        <%u.occupation%>
        <%u.name%>
        <%u.name%>

</body>
</html>