<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 font-[Inter] text-white min-h-screen"
    style="
      background-image: url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnVsbCUyMHN0YWNrJTIwZGV2ZWxvcGVyfGVufDB8fDB8fHww');
      background-size: cover;
      background-attachment: fixed;
    "
  >
    <div
      class="bg-white/10 backdrop-blur-md p-8 m-8 rounded-3xl shadow-2xl max-w-4xl mx-auto"
    >
      <h1 class="text-3xl font-semibold mb-4 text-blue-500">Admin's Corner</h1>

      <div
        class="mb-6 border-4 border-black rounded-3xl p-6 bg-gradient-to-r from-gray-800/80 to-black/80 shadow-2xl text-center transform transition duration-500"
      >
        <h2 class="text-3xl font-semibold text-yellow-400 mb-1">
          Welcome, <%= user.name %>!
        </h2>

        <span class="text-lg text-cyan-300 italic"><%= user.email %></span>
        <p class="text-sm text-gray-200 mb-4">
          Working as
          <span class="font-semibold text-cyan-300"><%= user.occupation %></span
          >, specialized in
          <span class="font-semibold text-cyan-300"
            ><%= user.specification %></span
          >. <%= user.description %>
        </p>

        <img
          src="<%= user.photo %>"
          alt=""
          class="w-[120px] h-[120px] rounded-full mx-auto mb-4 border-4 border-pink-400 shadow-lg animate-pulse"
        />
        <div class="flex items-center justify-center gap-2">
          <a
            href="/logout"
            class="inline-block mt-2 px-6 py-2 text-sm bg-red-600 hover:bg-red-700 rounded-md font-semibold"
            >Logout</a
          >
          <a
            href="/user/edit"
            class="inline-block mt-2 px-6 py-2 text-sm bg-blue-700 hover:bg-blue-600 rounded-md font-semibold"
            >Edit Profile</a
          >
          <a
            href="/story/write"
            class="inline-block mt-2 px-6 py-2 text-sm bg-green-700 hover:bg-green-600 rounded-md font-semibold"
            >Write Story</a
          >
          <a
            href="/story"
            class="inline-block mt-2 px-6 py-2 text-sm bg-pink-700 hover:bg-pink-600 rounded-md font-semibold"
            >My Stories</a
          >
        </div>
      </div>
    </div>
    <div
      class="bg-white/10 backdrop-blur-md p-8 m-8 rounded-3xl shadow-2xl max-w-4xl mx-auto"
    >
      <div>
        <h2 class="text-2xl font-semibold mb-4 text-green-400">All Users</h2>
        <% users.forEach((u) => { %>
        <div
          class="mb-4 p-4 relative bg-zinc-900/90 border-4 border-zinc-200 rounded-xl shadow-md"
        >
          <div class="flex gap-10">
            <div class="flex items-center justify-center flex-col">
              <img
                src="<%= u.photo %>"
                alt=""
                class="w-24 h-24 rounded-full mb-2 border-2 border-cyan-300"
              />
              <% if(u.role === "admin") { %>
              <p class="text-gray-400 text-sm font-semibold">Not deletable</p>
              <% } else { %>
              <a
                href="/admin/delete/user/<%= u._id %>"
                class="text-red-500 text-sm hover:underline font-semibold"
                >Delete User</a
              >
              <% } %>
              <a
                href="/story/admin/<%=u._id%>"
                class="px-4 w-fit shrink-0 italic absolute top-4 right-4 py-2 text-blue-500 hover:text-blue-600 rounded-xl bg-black font-semibold transition transform hover:scale-[1.02] shadow-lg"
                >Read Stories</a
              >
            </div>
            <div class="text-sm">
              <p><span class="font-semibold">Name:</span> <%= u.name %></p>
              <p><span class="font-semibold">Email:</span> <%= u.email %></p>
              <p><span class="font-semibold">Role:</span> <%= u.role %></p>
              <p>
                <span class="font-semibold">Occupation:</span> <%= u.occupation
                %>
              </p>
              <p>
                <span class="font-semibold">Specification:</span> <%=
                u.specification %>
              </p>
            </div>
          </div>
          <p class="text-sm">
            <span class="font-semibold">Description:</span> <%= u.description %>
          </p>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
