<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    user dashbo
    <%= user.name%> <br>
    <%= user.email%> <br>
    <%= user.occupation%> <br>
    <%= user.specification%>
    <%= user.description%>
    <img src="<%=user.photo%>" alt="">
</body>
</html>