<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 min-h-screen items-center px-10 flex"
    style="
      background-image: url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnVsbCUyMHN0YWNrJTIwZGV2ZWxvcGVyfGVufDB8fDB8fHww');
      background-size: cover;
      background-attachment: fixed;
    "
  >
    <div
      class="bg-white/10 backdrop-blur-md h-fit px-8 py-6 rounded-3xl shadow-2xl w-full max-w-md"
    >
      <h1 class="text-3xl font-semibold text-cyan-400 italic text-center mb-4">
        Edit Profile
      </h1>

      <form action="/edit" method="post" class="flex flex-col space-y-3">
        <input
          type="text"
          name="name"
          value="<%=user.name%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="email"
          name="email"
          value="<%=user.email%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="text"
          name="occupation"
          value="<%=user.occupation%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="text"
          name="specification"
          value="<%=user.specification%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="text"
          name="description"
          value="<%=user.description%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <input
          type="text"
          name="photo"
          value="<%=user.photo%>"
          class="px-4 py-2 rounded-xl border italic border-gray-600 bg-black/60 text-cyan-500 font-semibold focus:outline-none focus:border-cyan-400"
        />
        <button
          type="submit"
          class="px-4 italic py-2 text-green-600 hover:text-green-500 rounded-xl bg-black font-semibold transition transform hover:scale-[1.02] shadow-lg"
        >
          Update
        </button>
      </form>
    </div>
    <div class="p-6 "></div>
  </body>
</html>
